<div class="login-wrapper">
  <div class="login-card">
    <h2>Создать аккаунт</h2>
    <p>Зарегистрируйтесь в FinTrack</p>

    @if (errorMessage) {
      <div class="error-badge">{{ errorMessage }}</div>
    }

    <div class="form-field">
      <label>Логин</label>
      <input type="text" [(ngModel)]="data.username" placeholder="username">
    </div>

    <div class="form-field">
      <label>Email</label>
      <input type="email" [(ngModel)]="data.email" placeholder="you@example.com">
    </div>

    <div class="form-field">
      <label>Пароль</label>
      <input type="password" [(ngModel)]="data.password" placeholder="минимум 8 символов">
    </div>

    <button class="btn-login" (click)="onRegister()">Зарегистрироваться</button>

    <div class="login-footer">
      Уже есть аккаунт? <a routerLink="/login" style="color: #00d4aa;">Войти</a>
    </div>
  </div>
</div>
